<!DOCTYPE html>
<html>
    <head>
        <title>Todoist Statistics</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 

        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="landing_page.css">

    
    </head>
    <body>
        <div class="fullscreen cover-image">
            <h1 class="title">Todoist Statistics</h1>
            <h3 class="subtitle">Improve your todo-list.</h3>
            <button class="cover-button btn btn-primary login-button btn-lg">Login</button>
        </div>
        <div class="container">
            <div class="jumbotron">

                <p class="lead">A website that analyzes your Todoist data and creates statistics.</p>
                <hr class="my-2">
                <p>
                    Login with your Todoist account to see how you use Todoist. We can give you simple tips where you can improve.
                    If you don't have a Todoist account you may visit their <a href="http://www.todoist.com" target="_blank">page</a>.
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg login-button" href="#" role="button">Have a look</a>
                </p>
            </div>
        </div>
        
        <!--TODO add footer with imprint and our names-->
        
        <script src="js/landing_page.js"></script>

    </body>
</html>
