<!DOCTYPE html>
<html>
    <head>
        <title>Todoist Statistics</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 

        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="landing_page.css">

    
    </head>
    <body>
        <div class="fullscreen cover-image">
            <h1 class="title">Todoist Statistics</h1>
            <h3 class="subtitle">Improve your todo-list.</h3>
            <button class="cover-button btn btn-primary login-button">Start</button>
        </div>
        <div class="container">
            <div class="jumbotron">

                <h1 class="display-3">Todoist Statistics</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-2">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
        
        <script src="js/landing_page.js"></script>

    </body>
</html>
