


.dashboard .row > * {
    margin-top: 16px;
}

.dashboard .row > * > * {
    height: 300px;
    margin: 0px;
    padding: 0px;
    /*cursor: zoom-in;*/
    border: 1px dashed lightgray;
    /*background-color: red;*/
}

.module-value-double h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}

.module-value-double h3 {
    color: gray;
    text-align: center;
}

.module-value-double:first-child {
    padding-top: 80px;
}

.module-value h1 {
    padding-top: 100px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.module-value h3 {
    color: gray;
    text-align: center;
}

.relative-position {
    position: relative;
}
/*
show load animation in bottom right corner
*/
.load-icon-container {
    position: absolute;
    bottom: 2px;
    right: 2px;
}