




.dashboard .row > * > * {
    height: 300px;
    margin: 0px;
    padding: 0px;
    /*cursor: zoom-in;*/
    border: 1px dashed lightgray;
    /*background-color: red;*/
}



.module-value h1 {
    padding-top: 100px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.module-value h3 {
    color: gray;
    text-align: center;
}

